<div class="banner">

<h1>Wikinimous</h1>
  <%= link_to "add a new article", article_path("new")%>
</div>

<%= @article.content %>

<%= link_to "Delete #{@article.title}",
            article_path(@article),
            method: :delete,
            data: { confirm: "Are you sure?" } %>

<%= link_to "edit this article", edit_article_path %>
